@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,800;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Raleway";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body.lock {
  overflow: hidden;
}
@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input,
button,
textarea {
  font-family: "Raleway";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-block {
  max-width: 570px;
  text-align: center;
}
.header-block__title {
  font-size: 45px;
  font-weight: 600;
  color: #061e37;
  margin: 0 0 15px 0;
}
.header-block__title_w {
  line-height: 1.2;
  color: #fff;
  margin: 0 0 20px 0;
}
.header-block__subtitle {
  font-size: 25px;
  font-weight: 600;
  color: #b0bec5;
  margin: 0 0 20px 0;
}
.header-block__text {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #b0bec5;
}
.header-block__text_c {
  color: #061e37;
}
.header-block__text_w {
  margin: 0 0 75px 0;
  color: #fff;
}
@media (max-width: 767.98px) {
  .header-block__title {
    margin: 0 0 10px 0;
  }
  .header-block__title_w {
    line-height: 1;
  }
  .header-block__subtitle {
    margin: 0 0 10px 0;
  }
  .header-block__text {
    line-height: 20px;
  }
}

svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1452px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
}
.header__column:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__column:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.header__logo {
  position: relative;
  z-index: 4;
}
.header__btn {
  position: relative;
  z-index: 4;
}
@media (max-width: 767.98px) {
  .header__body {
    height: 80px;
  }
  .header__column:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin: 0 0 0 30px;
  }
  .header__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
@media (max-width: 479.98px) {
  .header__column:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40px;
            flex: 0 1 40px;
    overflow: hidden;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
.menu__list li {
  margin: 0 0 0 50px;
}
.menu__link {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__link:hover {
  color: #061e37;
}
@media (max-width: 992.98px) {
  .menu__list li {
    margin: 0 0 0 30px;
  }
}
@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -110%;
    left: 0;
    overflow: auto;
    padding: 150px 0 0 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu__body.active {
    background-color: #10c9c3;
    top: 0;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list li {
    margin: 0 0 40px 0;
  }
  .menu__link {
    font-size: 20px;
  }
}

body.lock header.header:before {
  content: "";
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: #10c9c3;
}

@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8.5px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #fff;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }
  .icon-menu.active span {
    background-color: #fff;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }
  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }
}
.footer {
  padding: 100px 0;
  background-color: #061e37;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 50px 0;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
.footer__list li {
  margin: 0 0 0 50px;
}
.footer__nav {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer__nav span {
  position: relative;
  display: block;
}
.footer__nav span:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 50%;
  bottom: -5px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer__nav:hover {
  opacity: 0.5;
  color: #fff;
}
.footer__nav:hover span:after {
  width: 100%;
  left: 0;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__links span {
  position: relative;
}
.footer__links span:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  margin: 6px 0 0 -22px;
}
.footer__link {
  opacity: 0.5;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0 40px 0 0;
}
.footer__link:hover {
  opacity: 1;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__icon {
  margin: 0 0 0 20px;
}
.footer__icon svg {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0.2;
  fill: #fff;
}
.footer__icon:hover svg {
  opacity: 0.5;
}
@media (max-width: 767.98px) {
  .footer {
    padding: 50px 0;
  }
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    margin: 0 0 5px 0;
  }
  .footer__list li {
    margin: 0 15px 15px 15px;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    gap: 20px;
  }
  .footer__links span {
    display: none;
  }
  .footer__link {
    margin: 0;
  }
}
@media (max-width: 479.98px) {
  .footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mainblock {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainblock__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
  padding: 250px 0 100px 0;
  z-index: 1;
}
.mainblock__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainblock__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}
.mainblock__title {
  max-width: 470px;
  margin: 0 0 25px 0;
  font-size: 55px;
  font-weight: 800;
  line-height: 65px;
  text-transform: uppercase;
  color: #ffffff;
}
.mainblock__subtitle {
  max-width: 580px;
  margin: 0 0 35px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  color: #ffffff;
}
.mainblock__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  gap: 30px;
}
.mainblock__video {
  position: relative;
  padding: 0 0 60% 0;
}
.mainblock__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mainblock__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1452px) {
  .mainblock__content {
    padding: 150px 0 100px 0;
  }
  .mainblock__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
  .mainblock__title {
    font-size: 50px;
    line-height: 55px;
  }
  .mainblock__video {
    margin: 40px 0 0 0;
    padding: 0 0 55% 0;
  }
}
@media (max-width: 992.98px) {
  .mainblock__body {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .mainblock__content {
    padding: 100px 0 50px 0;
  }
}
@media (max-width: 479.98px) {
  .mainblock__title {
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 10px 0;
  }
  .mainblock__subtitle {
    line-height: 30px;
    margin: 0 0 20px 0;
  }
  .mainblock__buttons {
    display: block;
    text-align: center;
  }
  .mainblock__btn {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .mainblock__video {
    margin: 20px 0 0 0;
    padding: 0 0 55% 0;
  }
}

.benefits {
  padding: 100px 0 100px 0;
}
.benefits__header-block {
  margin: 0 auto 100px auto;
}
.benefits__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.benefits__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26%;
          flex: 0 1 26%;
}
.benefits__item {
  text-align: center;
  padding: 0 15px 0 15px;
}
.benefits__icon {
  height: 80px;
}
.benefits__title {
  font-size: 20px;
  font-weight: 600;
  color: #061e37;
  margin: 40px 0 20px 0;
}
.benefits__text {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #78909c;
}
.benefits__footer {
  text-align: center;
  margin: 75px 0 0 0;
}
@media (max-width: 992.98px) {
  .benefits__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 33.333%;
            flex: 0 33.333%;
  }
}
@media (max-width: 767.98px) {
  .benefits {
    padding: 50px 0;
  }
  .benefits__header-block {
    margin: 0 auto 60px auto;
  }
  .benefits__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .benefits__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 50%;
            flex: 0 50%;
    margin: 0 0 25px 0;
  }
  .benefits__title {
    margin: 10px 0;
  }
  .benefits__footer {
    margin: 30px 0 0 0;
  }
}
@media (max-width: 479.98px) {
  .benefits__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 100%;
            flex: 0 100%;
  }
}

.statistics__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
.statistics__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
.statistics__column_ft {
  background-color: #80d8ff;
}
.statistics__column_sc {
  background-color: #82b1ff;
}
.statistics__column_th {
  background-color: #ea80fc;
}
.statistics__column_fth {
  background-color: #b388ff;
}
.statistics__item {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.statistics__icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.statistics__title {
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  margin: 0 0 0 25px;
}
@media (max-width: 992.98px) {
  .statistics__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .statistics__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .statistics__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    max-width: 200px;
    margin: 0 auto;
  }
  .statistics__title {
    margin: 0 0 0 10px;
  }
}
@media (max-width: 479.98px) {
  .statistics__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .statistics__item {
    padding: 20px 0;
  }
}

.services {
  padding: 100px 0;
  background-color: #fafafa;
}
.services__header-block {
  margin: 0 auto 50px auto;
}
.services__block {
  max-width: 800px;
  margin: 0 auto;
}
.services__item {
  padding: 20px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}
.services__item:not(:last-child) {
  margin: 0 0 20px 0;
}
.services__item:first-child .services__row {
  display: block;
}
.services__spoiler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.services__spoiler.active .services__arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.services__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services__icon {
  min-width: 20px;
  margin: 0 25px 0 0;
}
.services__theme {
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  color: #061e37;
}
.services__arrow {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.services__row {
  display: none;
}
.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 0 0 0;
}
.services__column:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
}
.services__column:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 63%;
          flex: 0 1 63%;
}
.services__text {
  padding: 5px 0;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #061e37;
}
.services__text p:not(:last-child) {
  margin: 0 0 30px 0;
}
@media (max-width: 1452px) {
  .services__column:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 38%;
            flex: 0 1 38%;
  }
  .services__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58%;
            flex: 0 1 58%;
  }
}
@media (max-width: 767.98px) {
  .services {
    padding: 50px 0;
  }
  .services__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__text {
    padding: 20px 15px 0 15px;
  }
  .services__text p:not(:last-child) {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 479.98px) {
  .services__item:first-child .services__spoiler.active .services__arrow {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .services__item:first-child .services__arrow {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .services__item:first-child .services__row {
    display: none;
  }
  .services__item:not(:last-child) {
    margin: 0 0 10px 0;
  }
  .services__text {
    padding: 10px 0 0 0;
  }
}

.image {
  display: block;
  position: relative;
  height: 100%;
}
.image__ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
}
@media (max-width: 767.98px) {
  .image {
    height: auto;
    padding: 0 0 50% 0;
  }
}
@media (max-width: 479.98px) {
  .image {
    padding: 0 0 60% 0;
  }
}

.team {
  padding: 100px 0 90px 0;
}
.team__header-block {
  margin: 0 auto 80px auto;
}
.team__nav {
  max-width: 500px;
  margin: 0 auto 60px auto;
}
.team__body {
  max-width: 650px;
  margin: 0 auto;
}
.team__slide {
  text-align: center;
}
.team__title {
  font-size: 18px;
  font-weight: 800;
  color: #061e37;
  margin: 0 0 20px 0;
}
.team__text {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #90a4ae;
  margin: 0 0 30px 0;
}
.team__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.team__icon svg {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  fill: #90a4ae;
}
.team__icon:hover svg {
  fill: #000;
  opacity: 0.5;
}
@media (max-width: 767.98px) {
  .team {
    padding: 50px 0;
  }
  .team__header-block {
    margin: 0 auto 40px auto;
  }
  .team__nav {
    max-width: 500px;
    margin: 0 auto 30px auto;
  }
  .team__title {
    margin: 0 0 10px 0;
  }
  .team__text {
    margin: 0 0 15px 0;
  }
}

.contacts {
  padding: 50px 0 100px 0;
  background-color: #fafafa;
}
.contacts__header-block {
  margin: 0 auto 50px auto;
}
@media (max-width: 767.98px) {
  .contacts {
    padding: 50px 0;
  }
}

.form-contacts__body {
  max-width: 600px;
  margin: 0 auto;
}
.form-contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  gap: 40px;
  margin: 0 0 20px 0;
}
.form-contacts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.form-contacts__input {
  margin: 0 0 20px 0;
}
.form-contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-contacts__block label {
  font-size: 15px;
  font-weight: 600;
  color: #061e37;
}
.form-contacts__block label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #061e37;
  border-radius: 4px;
  vertical-align: middle;
  margin: -1px 10px 0 0;
}
@media (max-width: 767.98px) {
  .form-contacts__row {
    gap: 10px;
    margin: 0 0 10px 0;
  }
}
@media (max-width: 479.98px) {
  .form-contacts__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-contacts__block {
    display: block;
  }
  .form-contacts__btn {
    width: 100%;
    margin: 20px 0 0 0;
  }
}

.btn {
  position: relative;
  display: inline-block;
  padding: 0 28px;
  height: 55px;
  line-height: 55px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
.btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
  background-color: #fff;
}
.btn_tr {
  padding: 0 20px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn_tr:after {
  border-radius: 0;
}
.btn_b {
  max-width: 230px;
  padding: 0 42px;
  background-color: #061e37;
}
.btn_b:after {
  background-color: transparent;
  border: 2px solid #061e37;
}
.btn_t {
  padding: 0 28px;
}
.btn_w {
  max-width: 230px;
  padding: 0 32px;
  background-color: #fff;
  color: #061e37;
}
.btn_w:after {
  background-color: transparent;
  border: 2px solid #fff;
}
.btn_g {
  background-color: #1de9b6;
}
.btn_g:after {
  border: 2px solid #1de9b6;
}
.btn_c {
  height: 50px;
  line-height: 50px;
  padding: 0 44px;
  background-color: #1de9b6;
}
.btn_c:after {
  border: 2px solid #1de9b6;
}
.btn span {
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn:hover.btn {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn:hover.btn_tr {
  color: #000;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.btn:hover.btn_b {
  background-color: transparent;
  color: #061e37;
}
.btn:hover.btn_w {
  background-color: transparent;
  color: #fff;
}
.btn:hover.btn_g {
  color: #1de9b6;
}
.btn:hover.btn_c {
  color: #1de9b6;
}
.btn:hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + label::before {
  background: url("../img/check.png") center center no-repeat;
  background-size: 100%;
}

.input {
  height: 50px;
  width: 100%;
  display: block;
  padding: 0 20px;
  color: #061e37;
  border: 1px solid #061e37;
  border-radius: 5px;
  background-color: #fafafa;
  font-size: 14px;
}

textarea.input {
  resize: none;
  height: 150px;
  padding: 20px;
}

::-webkit-input-placeholder {
  color: #061e37;
}

::-moz-placeholder {
  color: #061e37;
}

:-ms-input-placeholder {
  color: #061e37;
}

::-ms-input-placeholder {
  color: #061e37;
}

::placeholder {
  color: #061e37;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-ms-input-placeholder {
  color: transparent;
}

input:focus::placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-ms-input-placeholder {
  color: transparent;
}

textarea:focus::placeholder {
  color: transparent;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ibg img {
  display: none;
}

.slick-slider {
  position: relative;
}
.slick-slider .slick-list {
  overflow: hidden;
}
.slick-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.slick-slider .slick-slide {
  min-height: 160px;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.2;
}
@media (max-width: 479.98px) {
  .slick-slider .slick-slide {
    min-height: 100px;
  }
}
.slick-slider .slick-center {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}
@media (max-width: 479.98px) {
  .slick-slider .slick-center {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.slick-slider .slick-dots {
  padding: 100px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slick-slider .slick-dots li {
  margin: 0 5px;
}
.slick-slider .slick-dots li button {
  font-size: 0;
  width: 11px;
  height: 11px;
  opacity: 0.3;
  border-radius: 50%;
  background-color: rgba(108, 108, 108, 0.4235294118);
}
.slick-slider .slick-dots li.slick-active button {
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #d3c1ad;
}
@media (max-width: 767.98px) {
  .slick-slider .slick-dots {
    padding: 40px 0 0 0;
  }
}