// МИКСИНЫ
@import "mixin.scss";

// ШРИФТЫ
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,800;1,400&display=swap');
$fontfamily: "Raleway";

// ПЕРЕМЕННЫЕ
$minwidth: 320px;
$mw: 1440;
$md1: $mw+12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;

// ОБНУЛЕНИЕ
@import "nullstyle.scss";

// ОБОЛОЧКА
.wrapper {
   min-height: 100%;
   overflow: hidden;
}

.page {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   @include flexbox();
   flex-direction: column;
}

.header-block {
   max-width: 570px;
   text-align: center;

   &__title {
      font-size: 45px;
      font-weight: 600;
      color: #061e37;
      margin: 0 0 15px 0;

      &_w {
         line-height: 1.2;
         color: #fff;
         margin: 0 0 20px 0;
      }
   }

   &__subtitle {
      font-size: 25px;
      font-weight: 600;
      color: #b0bec5;
      margin: 0 0 20px 0;
   }

   &__text {
      font-size: 15px;
      line-height: 25px;
      font-weight: 400;
      color: #b0bec5;

      &_c {
         color: #061e37;
      }

      &_w {
         margin: 0 0 75px 0;
         color: #fff;
      }
   }

   @media (max-width: $md3+px) {
      &__title {
         margin: 0 0 10px 0;

         &_w {
            line-height: 1;
         }
      }

      &__subtitle {
         margin: 0 0 10px 0;
      }

      &__text {
         line-height: 20px;
      }
   }
}

svg path {
   fill: inherit;
   stroke: inherit;
   stroke-width: inherit;
}

// ОСНОВНАЯ СЕТКА
.container {
   max-width: $mw+px;
   margin: 0 auto;
   width: 100%;

   @media (max-width: $md1+px) {
      max-width: 970px;
   }

   @media (max-width: $md2+px) {
      max-width: 750px;
   }

   @media (max-width: $md3+px) {
      max-width: none;
      padding: 0 10px;
   }
}

// ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ
@import "header.scss";
@import "footer.scss";

// ОСНОВНОЙ БЛОК

.mainblock {
   flex: 1 0 100%;
   position: relative;
   @include flexbox();
   justify-content: center;
   align-items: center;

   &__content {
      flex: 1 0 100%;
      position: relative;
      padding: 250px 0 100px 0;
      z-index: 1;
   }

   &__body {
      @include flexbox();
      justify-content: space-between;
      align-items: center;
   }

   &__column {
      flex: 0 1 40%;
   }

   &__title {
      max-width: 470px;
      margin: 0 0 25px 0;
      font-size: 55px;
      font-weight: 800;
      line-height: 65px;
      text-transform: uppercase;
      color: #ffffff;
   }

   &__subtitle {
      max-width: 580px;
      margin: 0 0 35px 0;
      font-size: 18px;
      font-weight: 400;
      line-height: 35px;
      color: #ffffff;
   }

   &__buttons {
      @include flexbox();
      gap: 30px;
   }

   &__video {
      position: relative;
      padding: 0 0 60% 0;

      iframe {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
   }

   &__bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
   }

   @media (max-width: $md1+px) {
      &__content {
         padding: 150px 0 100px 0;
      }

      &__column {
         flex: 0 1 45%;
      }

      &__title {
         font-size: 50px;
         line-height: 55px;
      }

      &__video {
         margin: 40px 0 0 0;
         padding: 0 0 55% 0;
      }
   }

   @media (max-width: $md2+px) {
      &__body {
         display: block;
      }
   }

   @media (max-width: $md3+px) {

      &__content {
         padding: 100px 0 50px 0;
      }
   }

   @media (max-width: $md4+px) {
      &__title {
         font-size: 40px;
         line-height: 40px;
         margin: 0 0 10px 0;
      }

      &__subtitle {
         line-height: 30px;
         margin: 0 0 20px 0;
      }

      &__buttons {
         display: block;
         text-align: center;
      }

      &__btn {
         width: 100%;
         margin: 0 0 10px 0;
      }

      &__video {
         margin: 20px 0 0 0;
         padding: 0 0 55% 0;
      }
   }
}

// ================================================================================================

.benefits {
   padding: 100px 0 100px 0;

   &__header-block {
      margin: 0 auto 100px auto;
   }

   &__body {
      @include flexbox();
      justify-content: space-between;
   }

   &__column {
      flex: 0 1 26%;
   }

   &__item {
      text-align: center;
      padding: 0 15px 0 15px;
   }

   &__icon {
      height: 80px;
   }

   &__title {
      font-size: 20px;
      font-weight: 600;
      color: #061e37;
      margin: 40px 0 20px 0;
   }

   &__text {
      font-size: 15px;
      line-height: 20px;
      font-weight: 400;
      color: #78909c;
   }

   &__footer {
      text-align: center;
      margin: 75px 0 0 0;
   }

   @media (max-width: $md2+px) {
      &__column {
         flex: 0 33.333%;
      }
   }

   @media (max-width: $md3+px) {
      padding: 50px 0;

      &__header-block {
         margin: 0 auto 60px auto;
      }

      &__body {
         flex-wrap: wrap;
         justify-content: center;
      }

      &__column {
         flex: 0 50%;
         margin: 0 0 25px 0;
      }

      &__title {
         margin: 10px 0;
      }

      &__footer {
         margin: 30px 0 0 0;
      }

   }

   @media (max-width: $md4+px) {
      &__column {
         flex: 0 100%;

      }

   }
}

// ================================================================================================

.statistics {
   &__body {
      @include flexbox();
   }

   &__column {
      flex: 0 1 25%;

      &_ft {
         background-color: #80d8ff;
      }

      &_sc {
         background-color: #82b1ff;
      }

      &_th {
         background-color: #ea80fc;
      }

      &_fth {
         background-color: #b388ff;
      }
   }

   &__item {
      padding: 40px 0;
      @include flexbox();
      align-items: center;
      justify-content: center;
   }

   &__icon {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #fff;
      @include flexboxinline();
      justify-content: center;
      align-items: center;
   }

   &__title {
      font-size: 20px;
      font-weight: 800;
      color: #fff;
      margin: 0 0 0 25px;
   }

   @media (max-width: $md2+px) {
      &__body {
         flex-wrap: wrap;
      }

      &__column {
         flex: 0 1 50%;
      }

      &__item {
         justify-content: start;
         max-width: 200px;
         margin: 0 auto;
      }

      &__title {
         margin: 0 0 0 10px;
      }
   }

   @media (max-width: $md4+px) {
      &__column {
         flex: 0 1 100%;
      }

      &__item {
         padding: 20px 0;
      }
   }
}

// ================================================================================================

.services {
   padding: 100px 0;
   background-color: #fafafa;

   &__header-block {
      margin: 0 auto 50px auto;
   }

   &__block {
      max-width: 800px;
      margin: 0 auto;
   }

   &__item {
      padding: 20px;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
      border-radius: 5px;

      &:not(:last-child) {
         margin: 0 0 20px 0;
      }

      &:first-child {
         .services__row {
            display: block;
         }
      }
   }

   &__spoiler {
      @include flexbox();
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      &.active {
         .services__arrow {
            transform: rotate(180deg);
         }
      }
   }

   &__title {
      @include flexbox();
      align-items: center;
   }

   &__icon {
      min-width: 20px;
      margin: 0 25px 0 0;
   }

   &__theme {
      font-size: 15px;
      font-weight: 800;
      text-transform: uppercase;
      color: #061e37;
   }

   &__arrow {
      @include anim(0.3s, 0s);
      transform: rotate(0);
   }

   &__row {
      display: none;
   }

   &__content {
      @include flexbox();
      justify-content: space-between;
      margin: 25px 0 0 0;
   }

   &__column {
      &:first-child {
         flex: 0 1 33%;
      }

      &:last-child {
         flex: 0 1 63%;
      }
   }

   &__text {
      padding: 5px 0;
      font-size: 15px;
      line-height: 25px;
      font-weight: 400;
      letter-spacing: 0.03em;
      color: #061e37;

      p {
         &:not(:last-child) {
            margin: 0 0 30px 0;
         }
      }
   }

   @media (max-width: $md1+px) {
      &__column {
         &:first-child {
            flex: 0 1 38%;
         }

         &:last-child {
            flex: 0 1 58%;
         }
      }
   }

   @media (max-width: $md3+px) {
      padding: 50px 0;

      &__content {
         flex-direction: column;
      }

      &__text {
         padding: 20px 15px 0 15px;

         p {
            &:not(:last-child) {
               margin: 0 0 20px 0;
            }
         }
      }
   }

   @media (max-width: $md4+px) {
      &__item {
         &:first-child {
            .services__spoiler.active {
               .services__arrow {
                  transform: rotate(0);
               }
            }

            .services__arrow {
               transform: rotate(180deg);
            }

            .services__row {
               display: none;
            }
         }

         &:not(:last-child) {
            margin: 0 0 10px 0;
         }
      }

      &__text {
         padding: 10px 0 0 0;
      }
   }
}

.image {
   display: block;
   position: relative;
   height: 100%;

   &__ibg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 8px;
   }

   @media (max-width: $md3+px) {
      height: auto;
      padding: 0 0 50% 0;
   }

   @media (max-width: $md4+px) {
      padding: 0 0 60% 0;
   }
}

// ================================================================================================

.team {
   padding: 100px 0 90px 0;

   &__header-block {
      margin: 0 auto 80px auto;
   }

   &__nav {
      max-width: 500px;
      margin: 0 auto 60px auto;
   }

   &__body {
      max-width: 650px;
      margin: 0 auto;
   }

   &__slide {
      text-align: center;
   }

   &__title {
      font-size: 18px;
      font-weight: 800;
      color: #061e37;
      margin: 0 0 20px 0;
   }

   &__text {
      font-size: 15px;
      line-height: 25px;
      font-weight: 400;
      color: #90a4ae;
      margin: 0 0 30px 0;
   }

   &__social {
      @include flexbox();
      justify-content: center;
      align-items: center;
      gap: 30px;
   }

   &__icon {
      svg {
         @include anim(0.3s, 0s);
         fill: #90a4ae;
      }

      &:hover {
         svg {
            fill: #000;
            opacity: 0.5;
         }
      }
   }

   @media (max-width: $md3+px) {
      padding: 50px 0;

      &__header-block {
         margin: 0 auto 40px auto;
      }

      &__nav {
         max-width: 500px;
         margin: 0 auto 30px auto;
      }

      &__title {
         margin: 0 0 10px 0;
      }

      &__text {
         margin: 0 0 15px 0;
      }
   }
}

// ================================================================================================

.contacts {
   padding: 50px 0 100px 0;
   background-color: #fafafa;

   &__header-block {
      margin: 0 auto 50px auto;
   }

   @media (max-width: $md3+px) {
      padding: 50px 0;
   }
}

.form-contacts {
   &__body {
      max-width: 600px;
      margin: 0 auto;
   }

   &__row {
      @include flexbox();
      gap: 40px;
      margin: 0 0 20px 0;
   }

   &__column {
      flex: 0 1 50%;
   }

   &__input {
      margin: 0 0 20px 0;
   }

   &__block {
      @include flexbox();
      justify-content: space-between;
      align-items: center;

      label {
         font-size: 15px;
         font-weight: 600;
         color: #061e37;

         &::before {
            content: '';
            display: inline-block;
            width: 15px;
            height: 15px;
            border: 2px solid #061e37;
            border-radius: 4px;
            vertical-align: middle;
            margin: -1px 10px 0 0;
         }
      }
   }

   @media (max-width: $md3+px) {
      &__row {
         gap: 10px;
         margin: 0 0 10px 0;
      }
   }

   @media (max-width: $md4+px) {
      &__row {
         flex-direction: column;
      }

      &__block {
         display: block;
      }

      &__btn {
         width: 100%;
         margin: 20px 0 0 0;
      }
   }
}

// ================================================================================================

// ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ ФОРМ
@import "forms.scss";
@import "ui.scss";